<script>
$.validator.addMethod(
    "regexpass",
    function(value, element, regexp) {
        var check = false;
        return this.optional(element) || regexp.test(value);
    },
    "{{ _("Enter a stronger password. It must contain at least one lowercase letter, one uppercase letter, one digit and a minimum length of eight characters.") }}"
);

$('#formReset').validate({
    rules: {

        password:{
            required: true,
            regexpass: /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/,
            minlength: 8
        }

    },
    messages: {
        password:{
            required: "{{ _("Enter the password") }}"
        }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.input-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });

</script>