<footer class="main-footer">
    {# To the right #}
    <div class="float-right d-none d-sm-inline">
        {{ _('Version') }}: {{ request.h.get_version() }}
    </div>
    {# Default to the left #}
    <strong>{{ _('Copyright') }} &copy; 2023 MrBot Software Solutions.</strong> {{ _('All rights reserved.') }}
</footer>